import React from "react";
import "./{ComponentName}.css";

interface I{ComponentName}Props {}

const {ComponentName} = ({ children }: React.PropsWithChildren<I{ComponentName}Props>) => {
  return (
    <div className="{lowercaseComponentName}-wrapper">
      {ComponentName} Content
    </div>
  );
};

export default {ComponentName};