import React from "react";
import "./{ComponentName}.css"

const {ComponentName} = props => (
  <div className="{lowercaseComponentName}-wrapper">
    Content
  </div>
);

export default {ComponentName};